header{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid #726f6f;
}

a{
    color: black;
}
a:hover{
    background-color: crimson;
color: #fbf6f6;
}

.apt_header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-family: 'myfont_2';
    padding: 1em;
}

nav ul  {
    list-style-type: none;
    margin: 0;
}


nav ul li  a{

    padding: 1em;
    display: inline-block;
    font-family: 'myfont_3';
  
}